* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffafa;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #fffafa;
    padding: 15px;
    border-radius: 35px;
    box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 67px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #fffafa;
    box-shadow: inset -5px -5px 12px #fff;
    border: none;
    color: #444;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 48px;
    width: 48px;
    background-color: #fffafa;
    box-shadow: -5px -5px -12px #fff;
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.command {
    background-color: #fffafa;
    color: #ff8b3d;
}

.equal {
    width: 115px;
    border-radius: 40px;
    background-color: #ff8b3d;
    color: #fff;
    box-shadow: -5px -5px -12px #fff;
}